<h1 style="font-size: 34px; margin-bottom: 2px; line-height: 12px;">AirBnB - Capstone Project 1 Data Wrangling</h1>
<h3 style="line-height: 2px; font-style: italic;"> Timothy Baney<h3>

* <a href="#intro" style="color: black; text-decoration: none;">Introduction</a>
* <a href="#data-union" style="color: black; text-decoration: none;">Data Union Diagram</a>
* <a href="#import" style="color: black; text-decoration: none;">Import Libraries</a>
* <a href="#data-dictionaries" style="color: black; text-decoration: none;">Create Data Dictionaries</a>
    * <a href="#age-gender" style="color: black; text-decoration: none;">Age/Gender Buckets</a>
    * <a href="#countries" style="color: black; text-decoration: none;">Countries</a>
    * <a href="#users" style="color: black; text-decoration: none;">Users</a>
    * <a href="#sessions" style="color: black; text-decoration: none;">Sessions</a>
* <a href="#table-merge" style="color: black; text-decoration: none;">Merge tables</a>
* <a href="#final-dict" style="color: black; text-decoration: none;">Final Data Dictionary</a>
* <a href="#export" style="color: black; text-decoration: none;">Export CSV</a>

### <p id="intro" style="margin-bottom: 0px; line-height: 1px;">Introduction</p>
<p>This notebook was created to handle wrangling the data for my first capstone project at Springboard. The problem is from <a href="https://www.kaggle.com/c/airbnb-recruiting-new-user-bookings" style="text-decoration: none; color: blue;">Kaggle's AirBnB competition</a>, where all the data pulled here was made publicly available. The crux of the problem is to find the best predictions of what country new users on AirBnb will travel to. In this portion, I will first pull in all the data, creating Pandas tables to serve as a dictionary for each datasets columns, column types, and column meanings. Finally I will combine all the data into a cleansed table ready for analysis and predictions.</p>

### <p id="data-union">Data Union Diagram</p>
Below is a visual aid to show how I will be combining all the different sets of data.

<img src="clean_intro_layout.png">

### <p id="import">Import Libraries</p>

In [41]:
import pandas as pd
import math
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [42]:
age_gender = pd.read_csv('data/age_gender_bkts.csv')
countries = pd.read_csv('data/countries.csv')
users = pd.read_csv('data/train_users_2.csv')

The sessions csv file is very large, and requires a lot of memory to read, so we read it in through chunks, and append the chunks to a list to later be used by pandas to create a dataframe.

In [43]:
session_list = []

for chunk in pd.read_csv('data/sessions.csv', chunksize=10000):
    session_list.append(chunk)
    
sessions = pd.concat(session_list)

### <p id="data-dictionaries">Create Tables for Data Description</p>

### <p id="age-gender">Age/Gender Buckets</p>

In [44]:
meaning = [
    'Age group for observed country',
    'Country name',
    'Gender for observed age group',
    'Population of gender and age group for country',
    'Year census was taken'
]

age_gender_dict = pd.DataFrame({
        "Field": age_gender.columns,
        "Type": [age_gender[col].dtype for col in age_gender.columns],
        'Meaning': meaning
    })

age_gender_dict

,Field,Meaning,Type
0,age_bucket,Age group for observed country,object
1,country_destination,Country name,object
2,gender,Gender for observed age group,object
3,population_in_thousands,Population of gender and age group for country,float64
4,year,Year census was taken,float64

In [45]:
age_gender.head(4)

  age_bucket country_destination gender  population_in_thousands    year
0       100+                  AU   male                      1.0  2015.0
1      95-99                  AU   male                      9.0  2015.0
2      90-94                  AU   male                     47.0  2015.0
3      85-89                  AU   male                    118.0  2015.0

### <p id="countries">Countries</p>

In [46]:
country_meanings = [
    'Country Name',
    'Latitude of country',
    'Longitude of country',
    'Unknown',
    'Area of country (in kilometers squared)',
    'Native language of country',
    'Levenshtein difference of strings'
]

countries_dict = pd.DataFrame({
        "Field": countries.columns,
        "Type": [countries[col].dtype for col in countries.columns],
        "Meaning": country_meanings
    })

countries_dict

,Field,Meaning,Type
0,country_destination,Country Name,object
1,lat_destination,Latitude of country,float64
2,lng_destination,Longitude of country,float64
3,distance_km,Unknown,float64
4,destination_km2,Area of country (in kilometers squared),float64
5,destination_language,Native language of country,object
6,language_levenshtein_distance,Levenshtein difference of strings,float64

In [47]:
countries.head(4)

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25

### <p id="users">Users</p>

In [48]:
user_meanings = [
    'User ID',
    'User account creation date',
    'Timestamp user was first active on site (seconds since January 1, 1970)',
    'Date user first booked a trip',
    'Gender',
    'Age',
    'Method user used to signup e.g. Facebook',
    'The page a user came to signup up from',
    'International language preference',
    'Kind of paid marketing that brought user to site',
    'Source of marketing',
    'First marketing the user interacted with before signing up',
    'App used to sign up',
    'First device used to go to site',
    'First browser used to go to site',
    'Country user booked a trip to'
]

users_dict = pd.DataFrame({
        "Field": users.columns,
        "Type": [users[col].dtype for col in users.columns],
        "Meaning": user_meanings
    })

users_dict

,Field,Meaning,Type
0,id,User ID,object
1,date_account_created,User account creation date,object
2,timestamp_first_active,Timestamp user was first active on site (secon...,int64
3,date_first_booking,Date user first booked a trip,object
4,gender,Gender,object
5,age,Age,float64
6,signup_method,Method user used to signup e.g. Facebook,object
7,signup_flow,The page a user came to signup up from,int64
8,language,International language preference,object
9,affiliate_channel,Kind of paid marketing that brought user to site,object
10,affiliate_provider,Source of marketing,object
11,first_affiliate_tracked,First marketing the user interacted with befor...,object
12,signup_app,App used to sign up,object
13,first_device_type,First device used to go to site,object
14,first_browser,First browser used to go to site,object
15,country_destination,Country user booked a trip to,object

In [49]:
users.head(4)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other

### <p id="sessions">Sessions</p>

In [50]:
sessions_meanings = [
    "User ID",
    "Action of user on site, e.g. search results",
    "Type of the action e.g. click, view",
    "Verbose description of action",
    "Device used when performing action",
    "Seconds elapsed while performing action"
]

sessions_dict = pd.DataFrame({
        "Field": sessions.columns,
        "Type": [sessions[col].dtype for col in sessions.columns],
        "Meaning": sessions_meanings
    })

sessions_dict

           Field                                      Meaning     Type
0        user_id                                      User ID   object
1         action  Action of user on site, e.g. search results   object
2    action_type          Type of the action e.g. click, view   object
3  action_detail                Verbose description of action   object
4    device_type           Device used when performing action   object
5   secs_elapsed      Seconds elapsed while performing action  float64

In [51]:
sessions.head(4)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0

### <p id="table-merge">Merge Tables</p>
I will now merge all the tables together. After refining what is needed from the sessions table, we will first perform an outer join on the users table, and the countries table on the 'country destination' column. After that I will join in the age/gender buckets table to the newly formed country/destination table on 3 fields: age, gender, and country destination. Finally I will bring in the refined sessions table with a left join on the user ID field.

In [ ]:
from sklearn import preprocessing

def sessions_stats(group):
    group.fillna(0, inplace=True)

    if group.count() == 0:
        return {'sessions_total_duration': group.max() - group.min(),
                'average_action_duration': 0,
                'actions_total_count': 0}
    else:
        return {'sessions_total_duration': group.max() - group.min(),
                'average_action_duration': (group.max() - group.min()) / group.count(),
                'actions_total_count': group.count()}

def main():
    # two scalers we use
    sessions_scaler = preprocessing.MinMaxScaler(feature_range=(0, 100))
    action_scaler = lambda x: np.sqrt(x/3600)

    df_sessions = sessions

    # gather sessions total & average durations from 'secs_elapsed' column,
    # which will be droped lately, apply external function
    df_sstats = df_sessions['secs_elapsed'].groupby(
        df_sessions['user_id'] ).apply(sessions_stats).unstack()

    # scale features for better distribution
    df_sstats['actions_total_count'] = df_sstats['actions_total_count'].apply(action_scaler)
    df_sstats['average_action_duration'] = df_sstats['average_action_duration'].apply(action_scaler)
    
    # normalization of new features + convert them to int
    # to avoid possible later scientific notation
    normalize_feats = ['actions_total_count',
        'average_action_duration', 'sessions_total_duration']
    for f in normalize_feats:
        df_sstats[f] = sessions_scaler.fit_transform(df_sstats[f].reshape(-1, 1)).astype(int)

    sessions_done = pd.DataFrame(df_sstats).to_csv('./sessions_done.csv',
        sep=',', header=True, index=True)
    
main()

new_sessions = pd.read_csv('sessions_done.csv')

<img src="users_country_merge.png">

In [ ]:
user_and_country = pd.merge(users, countries, how='outer', on='country_destination')
user_and_country['gender'] = user_and_country['gender'].str.lower()

new_sessions = new_sessions.rename(columns={'user_id': 'id'})

In [ ]:
def getAgeList(row):
    clean_age = row['age_bucket'].replace('+', '')
    min_max = clean_age.split('-')
    
    if len(min_max) > 1:
        min_max = list(range(int(min_max[0]), int(min_max[1]) + 1))
    return min_max

age_gender['age_list'] = age_gender.apply(lambda x: getAgeList(x), axis=1)

<img src="user_country_bucket_merge.png">

In [ ]:
l = age_gender['age_list'].str.len()
cols = age_gender.columns.difference(['age_list'])

df = pd.DataFrame({col: np.repeat(age_gender[col].values, l) for col in cols})
df['age'] = np.concatenate(age_gender['age_list'].values).astype(int)

user_country_buckets = pd.merge(df, user_and_country, how="outer", on=['age', 'country_destination', 'gender'])
user_country_buckets = user_country_buckets.drop('age_bucket', axis=1)
user_country_buckets = user_country_buckets.drop('year', axis=1)

user_country_buckets = user_country_buckets.rename(columns={'population_in_thousands': 'dest_age_pop'})
user_country_buckets.head(5)

<img src="final_merge.png">

In [ ]:
final_airbnb = pd.merge(user_country_buckets, new_sessions, how="left", on="id")

In [ ]:
ucb = final_airbnb.copy()
row_count = ucb.shape[0]

def fillCountry(row, country):
    if row['country_destination'] == country:
        return 1
    else:
        return 0

empty_array = np.zeros(row_count)
for c in ['US', 'FR', 'IT', 'GB', 'ES', 'CA', 'DE', 'NL', 'AU', 'PT']:
    ucb[c] = empty_array
    ucb[c] = ucb.apply(lambda x: fillCountry(x, c), axis=1)

ucb['gender'] = ucb['gender'].astype('category')

### <p id="final-dict">Final Data Dictionary</p>
All the data has now been merged together into one Pandas table that can now be used for exploration. The user table was outer joined with the country table, which was than outer joined with the age buckets dataframe on age, gender, and country destination. It was finally left joined with a refined sessions table. All together I now have a dataframe with 36 different columns, and about 214,000 rows.

In [ ]:
ucb_categories = ['signup_method', 'language', 'affiliate_channel', 'affiliate_provider', 'first_affiliate_tracked', 'signup_app', 'first_device_type', 'first_browser']

for col in ucb_categories:
    ucb[col] = ucb[col].astype('category')

In [ ]:
ucb_meaning = [
    'Country traveled to',
    'Gender',
    'Population of the users age group for their destination',
    'Age',
    'User ID',
    'User account creation date',
    'Timestamp user was first active on site (seconds since January 1, 1970)',
    'Date user first booked a trip',
    'Method user used to signup e.g. Facebook',
    'The page a user came to signup up from',
    'International language preference',
    'Kind of paid marketing that brought user to site',
    'Source of marketing',
    'First marketing the user interacted with before signing up',
    'App used to sign up',
    'First device used to go to site',
    'First browser used to go to site',
    'Latitude of country',
    'Longitude of country',
    'Unknown',
    'Area of country (in kilometers squared)',
    'Native language of country',
    'Language Levenshtein Distance',
    'Total actions performed on site e.g. click, search, view',
    'Average duration of site actions "in seconds"',
    'Average duration of session when using site',
    'Boolean value for US visit',
    'Boolean value for France visit',
    'Boolean value for Italy visit',
    'Boolean value for Great Britian visit',
    'Boolean value for Spain visit',
    'Boolean value for Canada visit',
    'Boolean vlaue for Denmark visit',
    'Boolean value for Netherlands visit',
    'Boolean value for Australia visit',
    'Boolean value for Portugal visit'
]

ucb_dict = pd.DataFrame({
        "Field": ucb.columns,
        "Type": [ucb[col].dtype for col in ucb.columns],
        'Meaning': ucb_meaning
    })

ucb_dict

### <p id="export">Export</p>

In [ ]:
ucb.to_csv('clean_airbnb.csv', index=False)